:root {
  --primary-colour: rgb(90, 25, 25);
  --three-canvas-h: 100px;
}

@font-face {
  font-family: "CMU Serif";
  src: url("fonts/cmunti.woff");
}

* {
  font-family: "CMU Serif" !important;
}

.main-title {
  text-decoration: none;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-colour);
}

.navbar .nav-item {
  padding-right: 10px !important;
  margin-right: auto;
}

.colour-animation
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

#navbarContainer {
  /* position: absolute; */
  width: 100vw;
  /* background-color: rgb(255, 255, 255); */
  backdrop-filter: blur(10px);
  /* -webkit-mask: -webkit-gradient(
    linear,
    left 0%,
    left 30%,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  ); */
  -webkit-mask: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
}
/* 
#threeCanvas {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: var(--three-canvas-h);
} */

.mainText {
  z-index: -99;
  position: absolute;
  top: 130px;
  text-align: center;
  width: 50%;
  margin: auto;
  overflow: hidden;
}