/* :root { */
  /* --primary-colour: rgb(213, 210, 210); */
  /* --three-canvas-h: 100px; */

/* Fonts */

@font-face {
  font-family: 'CMU Serif Roman';
  src: url('../assets/fonts/cmunrm.woff') format('woff');
}

@font-face {
  font-family: 'CMU Serif Roman Italic';
  src: url('../assets/fonts/cmunti.woff') format('woff');
}

* {
  font-family: 'CMU Serif Roman';
  color: white;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: initial;
    font-variant: small-caps;
}

html, body {
  background-color: black !important;
}

ul li {
    margin-bottom: 8px;
}

.center-box {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border: #272727;
    border-style: solid;
    border-width: 0.75px;
    border-radius: 4px;
}

.project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: #272727;
    border-style: solid;
    border-width: 0.75px;
    border-radius: 4px;
}

.proj-link {
    text-decoration: underline;
}
/*------------*/