/* :root { */
  /* --primary-colour: rgb(213, 210, 210); */
  /* --three-canvas-h: 100px; */

/* Fonts */

@font-face {
  font-family: 'CMU Serif Roman';
  src: url('../assets/fonts/cmunrm.woff') format('woff');
}

@font-face {
  font-family: 'CMU Serif Roman Italic';
  src: url('../assets/fonts/cmunti.woff') format('woff');
}

* {
  font-family: 'CMU Serif Roman';
  color: white;
}

a {
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: wheat !important;
}

html, body {
  background-color: black !important;
}

.navbar-nav {
  clear:both; 
}
  

.main-title {
  /* text-decoration: none; */
  text-transform: lowercase;
  /* font-style: italic; */
  font-size: 50px !important;
  color: var(--primary-colour);
  margin: auto;
}

.navbar .nav-item {
  padding-right: 10px !important;
}

.colour-animation
{
   /* text-transform: uppercase; */
  background-image: linear-gradient(
    -225deg,
    /* #231557 0%, */
    #ff1361 0%,
    #fff800 50%,
    #ff1361 100%
  );
  background-size: auto auto;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s forwards infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.navbar-container {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
  /* border-radius: 30px; */
  /* background-color: rgb(255, 255, 255); */
  /* backdrop-filter: blur(10px); */
  /* -webkit-mask: -webkit-gradient(
    linear,
    left 0%,
    left 30%,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  ); */
  /* font-family: "CMU Serif Roman" !important; */
  /* -webkit-mask: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%); */
  margin: auto;
  top: 40%;

}

#threeCanvas {
  z-index: -100;
  position: fixed;
  top: 0px;
  width: 100%;
  height: var(--three-canvas-h);
}

.mainText {
  /* font-family:'CMU Serif Roman'; */
  z-index: -99;
  position: absolute;
  top: 130px;
  text-align: center;
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.about-div {
  white-space: pre-line;
  width: max-content;
  height: max-content;
  background-color: rgba(100, 99, 99, 0.393);
  position: absolute;
  margin: auto;
  inset: 0px 0px 0px 0px;
  top: 20%;
  padding: 20px;
  border-radius: 10px;
  display: block;
  opacity: 0;
  transition: opacity 0.6s linear;
}

.projects-div {
  white-space: pre-line;
  width: max-content;
  height: max-content;
  background-color: rgba(100, 99, 99, 0.393);
  position: absolute;
  margin: auto;
  inset: 0 0 50% 30%;
  padding: 20px;
  border-radius: 10px;
  display: block;
  opacity: 0;
  transition: opacity 0.6s linear;
}

.show {
  opacity: 1;
}

.projects-list a {
  text-decoration: underline !important;
}